  /*purely for syntax reference, don't use */
  /*.box {
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition: [property] [duration] [timing-function] [delay];
}
  .box:hover {
  background: #ff7b29;
}*/

/*GLOBAL STYLES*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


  /*box changes color and into a circle*/
.box {
  width: 100px;
  height: 100px;
  color: #eee;
  text-align: center;
  line-height: 100px;
}

#box1 {
   background-color: teal;
   transition: all 250ms ease-in-out;
   margin-bottom: 20px;
}

#box1:hover {
  background-color: #ED4F4C;
  border-radius: 50%;
}

/*bill murray with a floating in box over his face*/
.person-card {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 300px;
  border: 2px solid #ed4f4c;
  margin-bottom: 20px;
}


.person-info {
  position: absolute;
  top: 240px;
  width: 197px;
  height: 300px;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;
  padding: 8px;
  background-color: rgba(237, 79, 76, .7);
  transition: all 1s ease-in-out;
}
.person-info:hover {
  top: 0;
/*   transform: translate */
}

.details-title {
  margin-bottom: 10px;
}

span {
  font-size: 1.5em;
}

/*expanding ghost
can change active (click) to hover*/
.ghostWrapper {
  max-width: 500px;
  max-height: 500px;
  margin: 75px;
 }
#ghost {
  width: 50px;
  transition: transform 500ms ease-in-out;
}
#ghost:active {
  transform: scale(3);
}

/*circle spoke span hover*/

.circleWrapper {
  background-color: honeydew;
  width: 500px;
  height: 500px;
  text-align: center;
  color: #ed4f4c;
}

.circle {
  position: relative;
  height: 300px;
  width: 300px;
  border: 4px solid rgba(237, 79, 76, .7);
  margin: 30px auto;
  border-radius: 50%;
}

.line {
  position: absolute;
  width: 4px;
  height: 100%;
  left: 50%;
  bottom: 0;
  transition: background 0.5s linear;
  transform-origin: 50% 50%;
  margin-left: -2px;
}

.circle:hover .line {
  background: rgba(237, 79, 76, .3);
}

.line:nth-child(2) {
  transform: rotate(22.5deg);
}

.line:nth-child(3) {
  transform: rotate(45deg);
}

.line:nth-child(4) {
  transform: rotate(67.5deg);
}

.line:nth-child(5) {
  transform: rotate(90deg);
}

.line:nth-child(6) {
  transform: rotate(112.5deg);
}

.line:nth-child(7) {
  transform: rotate(135deg);
}

.line:nth-child(8) {
  transform: rotate(157deg);
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: teal;
  display: block;
  position: absolute;
  animation: moveme 5s infinite ease-in-out;
}
.line:first-child span {
  animation-delay: 2.1875s;
}

.line:nth-child(2) span {
  -webkit-animation-delay: 1.875s;
          animation-delay: 1.875s;
}

.line:nth-child(3) span {
  -webkit-animation-delay: 1.5625s;
          animation-delay: 1.5625s;
}

.line:nth-child(4) span {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.line:nth-child(5) span {
  -webkit-animation-delay: 0.9375s;
          animation-delay: 0.9375s;
}

.line:nth-child(6) span {
  -webkit-animation-delay: 0.625s;
          animation-delay: 0.625s;
}

.line:nth-child(7) span {
  -webkit-animation-delay: 0.3125s;
          animation-delay: 0.3125s;
}

@keyframes moveme {
  0% {
    top: 0;
  }
  50% {
    top: 99%;
  }
  100% {
    top: 0;
  }
}


/*box transforms*/

.box {
  position: relative;
}

.box1 {
  background: #00aa9d;
  border-radius: 3px;
  height: 150px;
  margin: 100px;
  position: absolute;
  transition: transform 0.8s;
  width: 150px;
}


.reveal {
  background: #2b3f53;
  border-radius: 3px;
  height: 150px;
  margin: 100px;
  transition: transform 0.8s;
  position: absolute;
  width: 150px;
}

.reveal:hover {
  transform: translate(20px, 20px);
}

.boxWrapper {
  position: relative;
}

.box3 {
  border-radius: 3px;
  top: 200px;
  width: 150px;
  height: 150px;
  margin: 100px;
  position: absolute;
  transition: all 0.8s ease-in-out;
  background: rgba(254, 121, 2, 0);
}

.box3:hover {
  transform: translate(20px, 20px);
  background: rgba(254, 121, 2, 1);
}

.box2 {
  border-radius: 3px;
  top: 200px;
  width: 150px;
  height: 150px;
  margin: 100px;
  position: absolute;
  transition: transform 0.8s;
  background: rgba(0, 176, 213, 1);
}
  /*skier*/
.skiMan {
  min-height: 500px;
}

 .skier {
    width: 100px;
    height: 100px;
/*     background-color: red; */
    position: relative;
    margin-top: 500px;
    margin-bottom: 250px;
    animation: flip 200ms, example 6s infinite;
/*     animation: flip 200ms;
    animation-name: example;
    animation: example 8s infinite; */
}

/* Standard syntax */
@keyframes example {
    0%  {transform: scaleX(-1);
    filter: FlipH;left:0px; top:0px;}
    24% {transform: scaleX(-1);
    filter: FlipH;}
    25%  {transform: scaleX(1);left:400px;top:125px;}
    49% {transform: scaleX(1)}
    50%  {left:0px; top:250px;transform: scaleX(-1);
    filter: FlipH;}
    74% {transform: scaleX(-1);
    filter: FlipH}
    75% {transform: scaleX(1);
    filter: FlipH;left:400px; top:375px;}
    99% {transform: scaleX(1);
    filter: FlipH}
    100% {transform: scaleX(-1);
    filter: FlipH;left:0px; top:500px;}
}
